h1 {
    color: lightgoldenrodyellow;
    width: 600px;
    height: 100px;
    background-color: rgb(35, 10, 175);
    padding: 10px;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
    width: 300px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    margin-inline: auto;
    border-radius: 10px;
}

.mascota {
    font-size: xx-large;
}

.tarjeta-moquepon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25px;
    background-color: orange;
    font-size: x-large;
    margin: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-inline: auto;
} 

#boton-mascota {
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: medium;
    width: 150px;
    height: 25px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
.mascota {
    color: coral;
}
#ataque {
    color: brown;
}