@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #E14D2A;

}

input {
    display: none;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FD841F;
    width: 800px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
    margin-inline: auto;
    border-radius: 40px;
}

.subtitulo {
    font-size: 43px;
    color: white;
}

.tarjetas {
    display: flex;
    gap: 10px;
}
.tarjeta-mokepon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #3E6D9C;
    font-size: x-large;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    flex-direction: column;
    padding: 10px;
} 

.tarjeta-mokepon img {
    width: 120px;
}

#boton-mascota {
    display: flex;
    justify-content: center;
    align-items: center;  
    color: lightgoldenrodyellow;
    font-size: medium;
    width: 150px;
    height: 25px;
    background-color: #001253;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    margin: 20px;
}
.mascota {
    color: coral;
}
#ataque {
    color: brown;
}