@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #E14D2A;

}

input {
    display: none;
}

.titulo {
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FD841F;
    width: 800px;
    height: 800px;
    padding: 10px;
    box-sizing: border-box;
    margin-inline: auto;
    border-radius: 400px;
}

.subtitulo {
    font-size: 43px;
    color: white;
}

.tarjetas {
    display: flex;
    gap: 10px;
}
.tarjeta-mokepon{
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #3E6D9C;
    font-size: x-large;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    flex-direction: column;
    padding: 10px;
} 

.tarjeta-mokepon img {
    width: 120px;
}

#boton-mascota {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width: 180px;
    height: 45px;
    background-color: #001253;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    margin-top: 100px;
}

.mascota {
    color: coral;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-ataque{
    font-family: 'Poppins', sans-serif;
    background-color: #3E6D9C;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border-color: silver;
    width: 150px;
    color: white;
    font-size: large;
    margin: 5px;
}